<div class="contact-container">
    <a [href]="'mailto:' + email" target="_blank" class="contact-item">
      <fa-icon [icon]="faEnvelope"></fa-icon>
    </a>
  
    <a [href]="linkedin" target="_blank" class="contact-item">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
  
    <a [href]="github" target="_blank" class="contact-item">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </div>

  <!-- Copyright Text -->
<p class="copyright-text">Made By Danush © {{ currentYear }}</p>
  