<div class="about-container">
    <!-- Terminal Window (Header + Content) -->
    <div class="terminal-window">
      <!-- Terminal Header with Buttons -->
      <div class="terminal-header">
        <div class="window-buttons">
          <span class="close"></span>
          <span class="minimize"></span>
          <span class="maximize"></span>
        </div>
      </div>
  
      <!-- Terminal Content -->
      <div class="terminal-content">
        <p>> <span class="titlequestion">User.currentLocation</span></p>
        <p class="response">"Queen Creek, AZ"</p>
        <br>
        <p>> <span class="titlequestion">User.contactInfo</span></p>
        <p class="response">["<a href="mailto:danushkumarwork@gmail.com">danushkumarwork&#64;gmail.com</a>", 
        "<a href="https://www.linkedin.com/in/dk2k00/" target="_blank"> LinkedIn</a>", 
        "<a href="https://github.com/DK2K00" target="_blank"> github</a>"]</p>
          <br>
        <p>> <span class="titlequestion">User.resume</span></p>
        <p class="response"><a href="/assets/resume.pdf" download>resume.pdf</a></p>
          <br>
        <p>> <span class="titlequestion">User.interests</span></p>
        <p class="response">["soccer", "books", "hikes", "videogames", "cooking"]</p>
          <br>
        <p>> <span class="titlequestion">User.education</span></p>
        <p class="response">"M.Sc. in Computer and Information Sciences - University of Delaware"</p>
      </div>
    </div>
  </div>
  