.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #212426;
  padding: 1rem;
  padding-right: 5%;
}


.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 6rem;
}

.nav-links li {
  margin-left: 20px;
  align-content: end;
  padding-top: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding-right: 4rem;
}
