.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #212426;
  padding: 1rem;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
