<div class="project-card">
  <img [src]="image" alt="{{ title }}" class="project-image" />
  <div class="project-details">
    <h4 class="project-title">{{ title }}</h4>
    <p class="project-description">{{ description }}</p>

    <div class="technology-list">
      <span *ngFor="let tech of technologies" class="technology-box">{{
        tech
      }}</span>
    </div>

    <br />

    <div class="buttons">
      <a [href]="liveDemo" target="_blank" class="btn live-demo">Live Demo <fa-icon [icon]="faExternalLink"></fa-icon></a>
      <a [href]="sourceCode" target="_blank" class="btn source-code"
        ><fa-icon [icon]="faGithub"></fa-icon> View Source</a
      >
    </div>
  </div>
</div>
