/*To make as a SPA*/
html {
    scroll-behavior: smooth;
  }


  .section {
    height: 100vh;
    padding: 80px 20px;
  }

  /* Blinking effect for cursor */
  .cursor {
    display: inline-block;
    width: 10px;
    animation: blink 0.8s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  #myname{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.87);
  }
  
  #mydesc {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.87);
    margin-top: 10px;
  }
  
  