<app-navbar></app-navbar>

<!--Prints out my name and description-->
<h1 id="myname">
  <span class="namepointer">> </span>{{ displayedName
  }}<span *ngIf="showNameCursor" class="cursor">|</span>
</h1>
<p id="mydesc">
  {{ displayedDescription }}<span *ngIf="showDescCursor" class="cursor">|</span>
</p>

<br />
<br />

<!--About component-->
<app-about></app-about>

<div id="projectlink">
  <h1 id="projectsheader">Projects</h1>
</div>

<hr />
<br />

<!--Projects component-->
<app-projects></app-projects>

<br />
<br />

<div id="contactlink">
  <h1 id="contact-header">Contact Me</h1>
</div>

<hr />

<!--Contact component-->
<app-contact></app-contact>

<router-outlet />
